.ImageVisibilityChecker {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
  }
  
  .entradas {
    width: 80px; /* Ajusta el ancho según tus necesidades */
    height: 20px; /* Ajusta la altura según tus necesidades */
  }
  
  .ImageVisibilityChecker button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    gap: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #003d80;
  }
  
  .ImageVisibilityChecker button {
    margin-right: 20px;
  }